body {
    font-family: "Open-sans" sans-serif;
    margin: 0 auto;
    max-width: 800px;
    padding: 20px;
    background-color: #364f6b;
}

h1 {
    text-align: center;
    color: #364f6b;
}

img {
    width : 300px;
    height : 20pc;
    margin-left : auto;
    margin-right: auto;
    display : block;
}

.kotakresep {
    max-width: 800px;
    margin: 0 auto;
    background-color: #fff; 
    padding: 20px; 
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
